
.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	margin: 0 auto;
}

.slider-fade {
	position: relative;
	margin-bottom: 20px;
}

.slider-fade img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.slick-arrow {
	border-radius: 100%;
	border: solid 2px white;
	color: #fff;
	width: 40px;
	height: 40px;
}

.slick-prev,
.slick-next {
	position: absolute;
    transform: translateY(-50%);
    z-index: 100;
    font-size: 0;
    background-color: transparent;
    padding: 0;
}

.slick-prev {
	top: 50%;
	left: 2%;
}

.slick-next {
	top: 50%;
	right: 2%;
}


.slick-prev::before {
	content: '<';
	font-size: 30px;
}

.slick-next::before {
	content: '>';
	font-size: 30px;
}

.slider-fade .slick-dots {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
}

.slick-dots li {
	padding: 10px;
	font-size: 0;
}

.slick-dots li button {
	border: solid 2px white;
	border-radius: 100%;
	background-color: transparent;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	transition: box-shadow .5s;
}

.slick-dots .slick-active button {
	box-shadow: inset 0 0 20px #fff;
}

.slick-dots li:hover button {
	box-shadow: inset 0 0 20px #fff;
}

.slick-dots li button:focus {
	border: transparent;
}

.card {
	margin: 0 15px;
	position: relative;
}

.card img {
	width: 100%;
}

.card .hover-box {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.card .cnt {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.card .social-ntwrks {
	display: flex;
	margin: 0 auto;
	padding-left: 0px;
	justify-content: center;
	list-style: none;
}

.card .social-ntwrks li {
	padding: 10px;
	margin: 1px;
	background-color: #fff;
}

.card .social-ntwrks a {
	color: #546e7a;
	padding: 11px;
	text-decoration: none;
	font-size: 20px;
}

.card:hover .hover-box {
	opacity: 1;
}